rics = [ { text = "Abcd", ric = "123456", subric = "B" },
         { text = "Xyz",  ric = "654321", subric = "B" }  ]


[[standorte]]
standort = ""
imap_server = ""
imap_port = 0
imap_user = ""
imap_password = ""
fireplan_api_key = ""
